// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
	border-bottom: 3px black ridge;
}

.form_wrapper {
	border: 1px black solid;
	border-radius: 5px;
	margin: 10px;
	padding: 20px 5px;
	width: 500px;
}